@import url('https://fonts.googleapis.com/css2?family=Benne&family=Lobster&display=swap');

* {
    box-sizing: border-box;
    margin: 0;

}

body {

    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #1d252f;
}

.header2 {
    display: flex;
    justify-content: right;
    margin-top: 0;
    padding-right: 100px;

}

.header2 div.rankings div {
    position: relative;
    display: inline-block;
    border: 1px solid beige;
    padding: 40px;
    border-radius: 10px;
    background-color: antiquewhite;
    margin: 5px;
    box-shadow: 0 0 12px;
    transform: translateX(-20%);
    transition: .5s;
    animation: fadeIn 0.5s ease-in-out forwards; 
    opacity: 0; 
}
.header2 div.rankings div:nth-child(1) {
    animation-delay: 0.3s;}

.header2 div.rankings div:nth-child(2) {
    animation-delay: 0.5s; 
}

.header2 div.rankings div:hover {
    background: hsl(194, 100%, 59%);
    border: none;
}

.header3 {
    display: flex;
    justify-content: center;  
    text-align: center;
    height: auto;
    margin:5% 5% 5% 5%;

}
.header2 div.niveis
{
    display: inline-block;
    margin: 20%;
}
.header3 div.nivel {
    display: row;
    margin: 20PX;
    justify-content: center;
     
    position: relative;
    width: 180px;
    height: 60px;
    text-align: center;
    border: 1px solid#b5e1ee;
    border-radius: 2%;
    box-shadow: 0 0 12px ;
    transform: translateX(-20%);
    transition: .5s;
    animation: fadeIn 0.5s ease-in-out forwards; 
    opacity: 0;
}
.header3 input:focus~div.nivel,
.header3 input:valid~div.nivel {
    top: -5px;
}
.header3 h3
{
    padding: 20px;
    display: flex;
    justify-content: center;
   color: white;
   cursor: pointer;
}
.header3 div.nivel:hover
{
    background: #2eceff;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.header3 div.nivel:nth-child(1) {
    animation-delay: 0.8s;}

.header3 div.nivel:nth-child(2) {
    animation-delay: 1s; 
}

.header3 div.nivel:nth-child(3) {
    animation-delay: 1.3s; 
}

